@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.conner::after {
  content: '';
  width: calc(100% - 24px);
  height: 100%;
  position: absolute;
  left: 12px;
  top: -1px;
  bottom: -1px;
  border-bottom: 1px solid rgba(31, 73, 138, 0.7);
  border-top: 1px solid rgba(31, 73, 138, 0.7);
}

.corner:before {
  background-color: rgb(252, 170, 18);
  content: '';
  width: 100%;
  height: calc(100% - 24px);
  position: absolute;
  left: -1px;
  right: -1px;
  top: 12px;
  border-left: 1px solid rgba(31, 73, 138, 0.7);
  border-right: 1px solid rgba(31, 73, 138, 0.7);
}